@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #f6a05f;
    --secondary-color: #e56726;
    --dark-color: #002240;
    --light-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Lato', 'sans-serif';
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.logo {
    font-weight: bold;
}

.nav {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.nav a:hover {
    border-bottom: 3px #fff solid;
}

.nav .flex {
    justify-content: space-between;
}

.showcase {
    height: 400px;
    color: #fff;
    position: relative;
    background-color: var(--primary-color);
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 40% 30%;
}

/*
.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}
*/

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var (--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparant;
    border: 1px #fff solid;
}

.btn-outline:hover {
    transform: scale(0.98);
}

.bg-primary, 
.btn-primary {
    background-color: var(--primary-color);
}

.bg-secondary, 
.btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark, 
.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-light, 
.btn-light {
    background-color: var(--light-color);
    color: #333;
}

.btn-dark:hover {
    transform: scale(0.98);
}

.bg-primary a, 
.btn-primary a,
.bg-secondary a, 
.btn-secondary a,
.bg-dark a, 
.btn-dark a,
.bg-light a, 
.btn-light a {
    color: #fff;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* CARD */

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}


.olahraga .flex {
    flex-wrap: wrap;
}

.olahraga .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.olahraga .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.olahraga .card:hover {
    transform: translateY(-15px);
}



.sport-head img {
    width: 400px;
    justify-self: flex-end;
    border-radius: 20px;
}

.sport-sub-head img{
    width: 400px;
    justify-self: flex-end;
    border-radius: 20px;
}

/* MAIN */
.sport-main .card > i {
    margin-right: 20px;
}

.sport-main .grid {
    padding: 30px;
}




/* Text Sizes */

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
    font-weight: bold;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

/* MARGIN */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}


.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* PADDING */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* FOOTER */
.footer .social a{
    margin: 0 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* MOBILE */
@media (max-width: 500px) {
    .nav {
        height: 110px;
    }

    .nav .flex {
        flex-direction: column;
    }
}

/* TABLETS & UNDER */
@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-bottom: 10px;
    }
}